/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Lato', sans-serif; }

body {
  background-color: #DFDCE3;
  height: 100vh; }

main {
  height: 100%; }

header {
  width: 100vw;
  height: 65px;
  background-color: #4ABDAC;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1000; }
  header a {
    text-decoration: none; }
  header a:hover, header a:link, header a:visited {
    text-decoration: none; }
  header h1 {
    font-size: 2.7em;
    margin: 15px 20px;
    font-family: "Loved by the King", cursive;
    font-weight: bolder;
    color: #FC4A1A;
    text-shadow: 1px 1px 2px black;
    text-decoration: none; }
    header h1 span {
      color: #F7B733; }
  header h1:hover, header h1:link, header h1:visited {
    text-decoration: none; }

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #4ABDAC; }

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px; }
  .hero .jumbo {
    width: 70%;
    height: 50vh;
    background-image: url("https://images.contentful.com/mnc2gcng0j8q/1YLxrTDORCQsAAGOYKI4qO/8c438acce6529ec0672e1285dc8bfbf1/justworks-resources-page.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
    .hero .jumbo div {
      margin: 30px;
      width: 40%; }
      .hero .jumbo div h1 {
        font-size: 3.5em;
        font-family: "Loved by the King", cursive;
        font-weight: bolder;
        color: #FC4A1A;
        text-shadow: 1px 1px 2px black; }
        .hero .jumbo div h1 span {
          color: #F7B733; }
      .hero .jumbo div h2 {
        font-size: 2em;
        color: #4ABDAC; }
    .hero .jumbo button.createGame {
      background-color: #F7B733;
      color: #DFDCE3;
      font-size: 1.5em;
      font-weight: bolder;
      padding: 10px;
      align-self: baseline;
      margin: 50% 20% 0 0;
      border: 1px solid #F7B733;
      border-radius: 5px;
      width: 100%; }
  .hero .homeCopy {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .hero .homeCopy .copyColumn {
      width: 30%;
      margin: 40px 10px 100px 10px;
      background-color: rgba(247, 183, 51, 0.3);
      background-opacity: 0.3;
      padding: 10px;
      height: 100%; }
      .hero .homeCopy .copyColumn h3 {
        font-size: 1.5em;
        font-weight: bolder;
        width: 100%;
        text-align: center; }
      .hero .homeCopy .copyColumn p {
        margin-top: 10px;
        font-size: 1.1em;
        line-height: 120%; }

.createJoin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .createJoin h1 {
    font-size: 3em;
    color: #FC4A1A; }
  .createJoin h2 {
    color: #4ABDAC;
    font-size: 2.5em;
    margin-top: 30px; }
  .createJoin form {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .createJoin form label {
      color: #F7B733;
      font-size: .85em; }
    .createJoin form input {
      background-color: #DFDCE3;
      font-size: 1.75em;
      border: 0.5px solid #4ABDAC;
      color: #4ABDAC;
      text-align: center; }
    .createJoin form .usernameError {
      color: #FC4A1A;
      margin-top: 10px;
      font-weight: bold; }
  .createJoin .createButton {
    margin-top: 50px;
    background-color: #F7B733;
    border: 1px solid #F7B733;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    color: #DFDCE3; }
  .createJoin .createButton:focus {
    box-shadow: 0 0 0 0 transparent;
    border: 0.5px solid #4ABDAC; }

.game {
  width: 100vw;
  height: 90vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .game .gameMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around; }
    .game .gameMain .aside {
      width: 30%;
      height: 80%; }
      .game .gameMain .aside .gameUsers {
        width: 100%;
        height: 30%;
        border: 1px solid red; }
      .game .gameMain .aside .gameChat {
        width: 100%;
        height: 70%;
        border: 1px solid blue; }
    .game .gameMain .gameInteraction {
      width: 60%;
      height: 90%;
      position: relative; }
      .game .gameMain .gameInteraction .write {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        position: absolute;
        top: 620px; }
        .game .gameMain .gameInteraction .write #sentence {
          font-size: 1.5em;
          width: 79%;
          margin: 10px 0 0 0;
          background-color: white;
          border: none;
          padding: 5px; }
        .game .gameMain .gameInteraction .write button {
          width: 20%;
          height: 100%;
          background-color: #F7B733;
          border: none;
          font-size: 1.5em;
          padding: 8px;
          color: #DFDCE3; }
      .game .gameMain .gameInteraction .canvas-container {
        height: 0 !important; }
        .game .gameMain .gameInteraction .canvas-container canvas#c, .game .gameMain .gameInteraction .canvas-container canvas#d {
          overflow: hidden;
          align-self: flex-start;
          width: 100%;
          height: 100%; }

.reviewSheets {
  width: 100%;
  height: 90%;
  overflow: scroll;
  background-color: white; }

/*# sourceMappingURL=main.css.map */
