.createJoin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 3em;
    color: $vermillion;

  }
  h2 {
    color: $fresh;
    font-size: 2.5em;
    margin-top: 30px;
  }
  form{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      color: $sunshine;
      font-size: .85em;
    }
    input {
      background-color: $clean;
      font-size: 1.75em;
      // box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
      border: .5px solid $fresh;
      color: $fresh;
      text-align: center;
    }
    .usernameError{
      color: $vermillion;
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .createButton {
    margin-top: 50px;
    background-color: $sunshine;
    border: 1px solid $sunshine;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px;
    color: $clean;
  }
  .createButton:focus{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: .5px solid $fresh;
  }
}
