$fresh: #4ABDAC;
$vermillion: #FC4A1A;
$sunshine: #F7B733;
$clean: #DFDCE3;
$logoFont: 'Loved by the King', cursive;
html{
  font-family: 'Lato', sans-serif;
}

body{
  background-color: $clean;
  margin-bottom: 50px;
}

main {
  height: 100%;
}
