.game{
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .gameMain {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    .gameUsers {
      width: 20%;
      height: 70%;
      border: 1px solid black;
    }
    .gameInteraction {
      width: 45%;
      height: 70%;
      border: 1px solid black;
      .canvas-container {
        overflow: hidden;
        #c {
          border: 1px solid red;
        }
      }
    }
    .gameChat {
      width: 20%;
      height: 70%;
      border: 1px solid black;
    }
  }
}
