header{
  width: 100vw;
  height: 65px;
  background-color: $fresh;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1000;
  a {
    text-decoration: none;
  }
  a:hover, a:link, a:visited {
    text-decoration: none;
  }
  h1{
    font-size: 2.7em;
    margin: 15px 20px;
    font-family: $logoFont;
    font-weight: bolder;
    color: $vermillion;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    span{
      color: $sunshine;
    }
  }
  h1:hover, h1:link, h1:visited{
    text-decoration: none;
  }
}
