header{
  width: 100vw;
  height: 65px;
  background-color: $fresh;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
  a:hover, a:link, a:visited {
    text-decoration: none;
  }
  h1{
    font-size: 3em;
    margin: 15px 20px;
    font-family: $logoFont;
    font-weight: bolder;
    color: $vermillion;
    text-shadow: $logoShadow;
    text-decoration: none;
    span{
      color: $sunshine;
    }
  }
  h1:hover, h1:link, h1:visited{
    text-decoration: none;
  }
}
