.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 65px;
  .jumbo {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/drawlolback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    box-shadow: $shadow;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: stretch;
    div {
      position: absolute;
      top: 120px;
      left: 50px;
      // margin: 30px;
      width: 40%;
      h1{
        font-size: 5em;
        font-family: $logoFont;
        font-weight: bolder;
        color: $vermillion;
        text-shadow: $logoShadow;
        span{
          color: $sunshine;
        }
      }
      h2{
        font-size: 3em;
        color: $fresh;
        font-weight: 300;
      }
    }
    button.createGame {
      background-color: $sunshine;
      color: $clean;
      font-family: $logoFont;
      font-size: 4em;
      font-weight: bolder;
      padding: 10px;
      // align-self: baseline;
      // margin: 50% 20% 0 0;
      border: 1px solid $sunshine;
      border-radius: 5px;
      position: absolute;
      bottom: 75px;
      right: 75px;
      box-shadow: $shadow;
      // width: 100%;
    }
  }
  .homeCopy {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .copyColumn {
      width: 30%;
      margin: 40px 10px 100px 10px;
      // background-color: rgba(247, 183, 51, 0.3);
      // box-shadow: $shadow;
      background-opacity: 0.3;
      padding: 10px;
      height: 100%;
      h3 {
        font-size: 2.5em;
        font-family: $logoFont;
        font-weight: bolder;
        color: $vermillion;
        width: 100%;
        text-align: center;
      }
      p {
        margin-top: 10px;
        font-size: 1.1em;
        line-height: 120%;
      }
    }
  }
}
