.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  .jumbo {
    width: 70%;
    height: 50vh;
    background-image: url("https://images.contentful.com/mnc2gcng0j8q/1YLxrTDORCQsAAGOYKI4qO/8c438acce6529ec0672e1285dc8bfbf1/justworks-resources-page.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    div {
      margin: 30px;
      width: 40%;
      h1{
        font-size: 3.5em;
        font-family: $logoFont;
        font-weight: bolder;
        color: $vermillion;
        text-shadow: 1px 1px 2px black;
        span{
          color: $sunshine;
        }
      }
      h2{
        font-size: 2em;
        color: $fresh;
      }
    }
  }
  .homeCopy {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .copyColumn {
      width: 30%;
      margin: 40px 10px 100px 10px;
      background-color: rgba(247, 183, 51, 0.3);
      background-opacity: 0.3;
      padding: 10px;
      height: 100%;
      h3 {
        font-size: 1.5em;
        font-weight: bolder;
        width: 100%;
        text-align: center;
      }
      p {
        margin-top: 10px;
        font-size: 1.1em;
        line-height: 120%;
      }
    }
  }
}
