<div class="createJoin">
  <h1 class="createGame" ng-hide="gameCreated">Create a New Game and Invite Your Friends</h1>
  <div class="createUsername" ng-hide="gameCreated">
    <form name="createForm" novalidate ng-submit="createGame()">
      <label for="newUsername">Create a Username to Play</label>
      <input type="text" id="createUsername" name="username" ng-model="createUsername" ng-minlength="1" required/>
      <p class="usernameError" ng-show="createForm.username.$invalid">A username is required to create the game.</p>
      <button type="submit" class="createButton" ng-hide="gameCreated" ng-disabled="createForm.username.$invalid">Click Here to Create a Game!</button>
    </form>
  </div>
  <h1 class="createGame" ng-show="gameCreated">Send the below link to your friends and join the game</h1>
  <h2 class="createGame" ng-show="gameCreated">{{host}}{{gamePath}}</h2>
  <a ng-href="{{host}}{{gamePath}}"><button type="button" class="createButton" ng-click="joinGame()" ng-show="gameCreated">Click Here to Join the Game!</button></a>
</div>
