<div ng-hide="username" style="margin: 100px">
  <label for="username">Type in a username and click join</label>
  <input type="text" ng-model="createUsername" />
  <button type="button" ng-click="assignUsername()">Join the Game</button>
</div>

<div ng-show="username" class="game">
  <h1 class="gameHeader">{{username}} Round: {{round}}/{{players.length + 1}}</h1>
  <h2 class="gameHeader">{{gameDirections}}</h2>
  <div class="gameMain">
    <div class="aside">
      <div class="gameUsers">
        <ul>
          <li ng-repeat="player in players">
            {{player.username}}
          </li>
        </ul>
      </div>
      <div class="gameChat"></div>
      <button type="button" ng-click="startGame()" ng-show="showStartButton">Start Game</button>
    </div>
    <div class="gameInteraction" ng-switch on="phase">
      <h1 ng-show="phase=='draw' && round != 0">Draw This: {{sentenceToDraw}}</h1>
      <h1 ng-show="phase=='view' && round != 1">Write a sentence describing the drawing below.</h1>
      <canvas draw id="c" ng-model="drawing" ng-switch-when="draw"></canvas>
      <button type="button" ng-click="selectEraser()">erase</button>
      <button type="button" ng-click="selectPencil()">pencil</button>
      <canvas view id="d" ng-model="viewing" ng-switch-when="view"></canvas>
      <div class="reviewSheets" ng-switch-default>
        <div>
          <h2>this is a test</h2>
          <div class="sheet" ng-repeat="sheet in allSheets track by $index">
            <object>{{sheet}}</object>
          </div>
        </div>
      </div>
      <div class="write" ng-hide="gameOver">
        <input type="text" ng-model="sentence" id="sentence" name="sentence" placeholder="Type a sentence here..." ng-show="phase==='view'"></input>
        <button type="button" ng-click="send()" ng-disabled="!allowSubmit" ng-hide="!gameInProgress">Submit</button>
      </div>
    </div>
  </div>
</div>
