<div ng-hide="username" style="margin: 100px">
  <label for="username">Type in a username and click join</label>
  <input type="text" ng-model="createUsername" />
  <button type="button" ng-click="assignUsername()">Join the Game</button>
</div>

<div ng-show="username" class="game">
  <h1 class="gameHeader">{{username}}</h1>
  <div class="gameMain">
    <div class="aside">
      <div class="gameUsers"></div>
      <div class="gameChat"></div>
      <button type="button" ng-click="startGame()" ng-show="showStartButton">Start Game</button>
    </div>
    <div class="gameInteraction" ng-switch on="phase">
      <h1 ng-show="phase=='draw'">{{sentenceToDraw}}</h1>
      <canvas draw id="c" ng-model="drawing" ng-switch-when="draw"></canvas>
      <canvas view id="d" ng-model="viewing" ng-switch-when="view"></canvas>
      <div class="write" ng-hide="gameOver">
        <input type="text" ng-model="sentence" id="sentence" name="sentence" placeholder="Type a sentence here..." ng-show="phase==='view'"></input>
        <button type="button" ng-click="send()" ng-disabled="!allowSubmit" ng-hide="!gameInProgress">Submit</button>
      </div>
    </div>
  </div>
</div>
