<div ng-hide="username" style="margin: 100px">
  <label for="username">Type in a username and click join</label>
  <input type="text" ng-model="createUsername" />
  <button type="button" ng-click="assignUsername()">Join the Game</button>
</div>

<div ng-show="username" class="game">
  <h1 class="createGame">Draw &amp; LOL</h1></h1>
  <div class="gameMain">
    <div class="gameUsers"></div>
    <div class="gameInteraction">
      <canvas draw id="c" ng-model="drawing">
      </canvas>
      <button type="button" ng-click="send()">Submit</button>
    </div>
    <div class="gameChat"></div>
  </div>
</div>
