<div class="hero">
  <div class="jumbo">
    <div>
      <h1>Draw<span>LOL</span></h1>
      <h2>The party game that combines telephone and pictionary for a hilarious good time</h2>
    </div>
    <a href="/#/create"><button class="createGame">Start a New Game!</button></a>
  </div>
  <div class="homeCopy">
    <div class="copyColumn">
      <h3>About</h3>
      <p>
        Drawlol is the digital version of Paper Telephone, a fun variation of telephone that's played on paper instead of out loud. Start a game and invite some friends!
      </p>
    </div>
    <div class="copyColumn">
      <h3>How To Play</h3>
      <p>
        To Start, each player writes and submits a sentence. When all the sentences are in, the sentence is passed to the next player who must draw a picture based on that sentence.  The picture (withouth the original sentence) is then passed to the next player until the sheet returns to the original owner. Then, everyone has fun reviewing the sheets!
      </p>
    </div>
    <div class="copyColumn">
      <h3>Get Started</h3>
      <p>
        Click on the 'Start a New Game!' button above and choose your username. You will receive a link that you can send to your friends so they can join the game. Send the link out, join the game and wait for everyone to join before clicking start. Note: the game is most fun with 4 to 8 people, but you can invite as many friends as you want.
      </p>
    </div>
  </div>
</div>
<footer></footer>
